.line{
  padding: 15px;
  background-color: #828282;
  color: #FFF;
}

.buttonxm{
  color: #A1A1A1;
}

.inpubuton{
  padding: 15px;
  background-color: none;
  color: none;
}
.inpubuton button{
  float: right;

}

.inpubuton input{
  width: 80%
}
