<!--The content below is only a placeholder and can be replaced.-->






<div class="container">

  <h1>Todolist</h1>
  <p>X Pour supprimer, M pour modifier</p>

  <div class="jumbotron line" *ngFor="let item of todo">
    <input type="checkbox" value="{{item.state}}"> {{item.name}}
    <button (click)="removeItem(item)" class="buttonxm">X</button>
    <button (click)="updateItem(item)" class="buttonxm">M</button>
  </div>

  <div class="jumbotron inpubuton">
    <input type="text" [(ngModel)]="ajout">
    <button (click)="addItem()"> Ajouter</button>

  </div>





</div>
<!-- /container -->


<!-- <script>
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

t
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
    var myDropdown = document.getElementById("myDropdown");
      if (myDropdown.classList.contains('show')) {
        myDropdown.classList.remove('show');
      }
  }
} -->

<router-outlet></router-outlet>